body
{
	background-image: url('../img/background-login.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: rgb(10, 20, 10);
}

h1
{
	font-size: 2.5rem;
	line-height: 0.6;
	text-align: center;
	width: 100%;
	color: wheat;
	margin: 6px auto;
	padding: 0px;
}

h1 small
{
	font-size: 1rem;
	margin: 0px;
	padding: 0px;
}

.login-box
{
	display: flex;
	gap: 8px;
	flex-direction: column;
	margin: 0px auto;
	padding: 12px;
	border: 2px solid black;
	width: 20%;
	min-width: 180px;
	/* height: 200px; */
	margin-top: 20%;
	background-color: rgba(0, 0, 0, 0.5);
}

.login-box input
{
	padding: 6px;
	background-color: linen;
	font-size: 1rem;
	border: 2px solid dimgray;
	border-radius: 3px;
}

.login-box input[type='submit']
{
	background-color: wheat;
	color: black;
	font-weight: 600;
}
